@tailwind base;
@tailwind components;
@tailwind utilities;

.orientation-upright {
  writing-mode: vertical-lr;
  text-orientation: upright;
}

@font-face {
  font-family: "Urwdin";
  src: url("/font/URWDIN-Demi.ttf");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Urwdin";
  src: url("/font/URWDIN-Light.ttf");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Urwdin";
  src: url("/font/URWDIN-Thin.ttf");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "Urwdin";
  src: url("/font/URWDIN-Medium.ttf");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Urwdin";
  src: url("/font/URWDIN-Bold.ttf");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Urwdin";
  src: url("/font/URWDIN-Black.ttf");
  font-weight: 700;
  font-style: normal;
}

body {
  font-family: "Urwdin", "sans-serif";
}

li .splide__pagination__page {
  border: 1px solid #0b0b0b;
  width: 1.125rem;
  height: 1.125rem;
  border-radius: 9999999px;
  margin: 0 2rem;
  background: #fff;
}
li .splide__pagination__page.is-active {
  background: #0b0b0b;
}
.splide__arrows {
  display: inline-flex;
  width: 30%;
  order: 2;
}
.splide:not(.is-overflow) .splide__pagination {
  display: inline-flex;
  order: 1;
}
.splide__arrow--next,
.splide__arrow--prev {
  transition: 0.1s ease-in-out;
  opacity: 1;
  width: 26px;
}
.splide__arrow--prev:disabled,
.splide__arrow--prev[disabled],
.splide__arrow--next:disabled,
.splide__arrow--next[disabled],
.splide__arrow--prev[disabled] {
  opacity: 0;
}

.servicesList {
  list-style: disc;
  margin-left: 1rem;
}
.servicesList li {
  margin-bottom: 1rem;
}

#nav-icon3 {
  width: 30px;
  height: 20px;
  position: relative;
  margin-left: auto;
  margin-right: 20px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

#nav-icon3 span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background: #fff;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

#nav-icon3 span:nth-child(1) {
  top: 0px;
}

#nav-icon3 span:nth-child(2),
#nav-icon3 span:nth-child(3) {
  top: 8px;
}

#nav-icon3 span:nth-child(4) {
  top: 16px;
}

#nav-icon3.open span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%;
}

#nav-icon3.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#nav-icon3.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#nav-icon3.open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}
