.typewriter p {
  overflow: hidden;
  border-right: 0.15em solid #ffac30;
  font-size: 120px;
  color: white;

  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: 0.15em;
  animation: typing 3.5s steps(40, end), blink-caret 0.75s step-end infinite;
}
.typewriter span {
  overflow: hidden;
  border-right: 0.15em solid #ffac30;
  font-size: 60px;
  color: #b0b0b0;
  padding-top: 120px;
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: 0.15em;
  animation: typing 3.5s steps(40, end), blink-caret 0.75s step-end infinite;
}
.typewriter {
  margin-top: -131px;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: orange;
  }
}
